</body ng-controller="HordingsCtrl">
		 <section class="content-header">
                    <h1>
            Hordings<small>17 hordings</small></h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                        </li>
                        <li class="active">Hordings</li>
                    </ol>
                </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table datatable dtoptions="dtOptions" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                	<th data-mdata="imgCB()" >Image</th>
                                	<th data-mdata="name">Name</th>
                                	<th data-mdata="address">Address</th>
                                	<th data-mdata="status">Status</th>
                                	<th data-mdata="detail">Hording Details</th>
                            	</tr>

                                </thead>
                                <tbody>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
      
      <script type="text/javascript" src="../scripts/directives/angular.datatables.js"></script>
</body>