    <body class="skin-blue " ng-controller="NewhordingCtrl">
        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content-header">
            <h1>
            New<small>Hording</small></h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li class="active">New Hording</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <!-- left column -->
                <!-- general form elements -->
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="hording" ng-submit="submit(hording.$valid)">
                        <div class="box-body">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-photo"></i></span>
                                <input type="text" name="customerName" class="form-control " placeholder="Hording Name *" ng-model="hordingName" required oninvalid="this.setCustomValidity('Please enter Hording Name ')" oninput="setCustomValidity('')">
                            </div>
                            <br />
                            <div class="form-group">
                                <select ng-model="label" data-style="btn-inverse" ng-options="option.label for option in options" class="form-control" required oninvalid="this.setCustomValidity('Please select Hording Type')" onchange="setCustomValidity('')">
                                    <option value="">Select Hording Type *</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-stack-overflow"></i></span>
                                <input type="text" class="form-control " placeholder="Hording Location *" required oninvalid="this.setCustomValidity('Please enter hording location')" oninput="setCustomValidity('')">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search-plus"></i></span>
                                <input type="text" class="form-control " placeholder="Hording Detail">
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="date" class="form-control " placeholder="Starting From">
                            </div>
                            <br />
                            
                            <div>
                                <input id="lefile" type="file" style="display:none">
								<div class="input-append">
								<input id="photoCover" type="text" placeholder="Hording Snapshot...">
								<a class="btn btn-sm btn-info btn-flat pull-left" onclick="$('input[id=lefile]').click();">
									
									<span >Browse</span>
								</a>
									<label style= "margin-left:10%;"> Rented <input type="checkbox"> </label>
								</div>
                            </div>
                            
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-sm btn-info btn-flat pull-left">Save Hording</button>
                            <button type="button" ng-click="cancel()" class="btn btn-sm btn-info btn-flat pull-right">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>             
            <!-- /.row -->
        </section>
        <!-- /.content -->
        <!-- Bootstrap 3.3.2 JS -->
        <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="../dist/js/app.min.js" type="text/javascript"></script>
        <script src="../scripts/controllers/NewhordingCtrl.js"></script>
        <script type="text/javascript">
				$('input[id=lefile]').change(function() {
				$('#photoCover').val($(this).val());
				});
		</script>
