<body ng-controller="TodosCtrl">
		 <section class="content-header">
                    <h1>
            ToDos<small>13 new ToDos</small></h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                        </li>
                        <li class="active">ToDo</li>
                    </ol>
                </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table datatable dtoptions="dtOptions" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                	<th data-mdata="id" >ID</th>
                                	<th data-mdata="task">Task</th>
                                </tr>
								</thead>
                                <tbody>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
      
      
</body>